service: flask-serverless

provider:
  name: aws
  runtime: python3.12
  region: us-east-1

functions:
  api:
    handler: app.handler
    events:
      - httpApi: '*'

plugins:
  - serverless-python-requirements